<h1>Filmy i obrazki</h1>

<p>Cześć <%= @user.name %>,</p>

<p>
Witamy na stronie! Kliknij w poniższy link aby aktywować konto:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>