<h1>Zmiana hasła</h1>

<p>Aby zmienić hasło kliknij na poniższy link:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Ten link jest ważny przez 2 godziny.</p>

<p>
Jeśli nie chcesz zmieniać hasła, zignoruj tą wiadomość a Twoje hasło nie zostanie zmienione.
</p>