// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-form{
    display: block;

}
.comments-list-container{
    display: block;
    margin-top: 10px;
    .comment-container{
        float: left;
        .user_avatar-comment{
            display: inline-block;
        }
        .user{
            display: inline-block;
        }
    }

        
    .timestamp{
        font-size: small;
    }
    
    
    .comments{
        display: block;
        list-style: none;
    }
    
    
}
