@import "bootstrap-sprockets";
@import "bootstrap";

$light-grey: #777;
$dark-grey: #222222;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */
html,body {
  background-color:#FFFFFF;
  width:100%;
  height:100%;
}
body {
  padding-top: 60px;
  
}

.margin-15px-fixed{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 100px;
}

section {
  overflow: auto;
  overflow-x: hidden;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
      margin-bottom: 10px;
    }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-grey;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
      color: #fff;
      text-decoration: none;
    }
}

.nav{
  li{
    display: inline-block;
  }
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  /*border-top: 1px solid #eaeaea;*/
  color: $light-grey;
  a {
    color: #555;
    &:hover {
        color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
      float: right;
      list-style: none;
      li {
          float: left;
          margin-left: 15px;
        }
    }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  .avatar{
    width: 50px;
  }
}

/*posts*/

.post_info {
    padding: 1px 1px;
    border: 1px;
    border-style: groove;
    border-color: LightGrey;
    margin: 5px;
    @include box-sizing;
    background-color: $dark-grey;
    color: white;
    
    .avatar{
      width: 30px;
      height: 30px;
      float: left;
      margin-left: 10px;
      margin-right: 5px;
    }

    h1{
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 2em;
    }
    .user_avatar{
      float: left;
    }
  }
  
.container{
  padding-left: 0px;
}
  
.post-container{

  margin: auto auto;
  border: 1px;
  padding: auto;
  border-style: groove;
  border-color: LightGrey;
  position:  relative;
  display: block;
  padding-bottom: 20px;
  
  .content{
    padding-left: 7px;
    padding-right: 7px;
    display:  block;
    margin-left: auto;
    margin-right: auto;

    
    .post_image{
      width: 100%;
      margin: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      img{
        width: 100%;
      }
    }
    .video {
      iframe{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      }
    
    }
    .span-rating{
      
      border: 1px solid grey;
      display: inline-block;
      color: black;
      background-color: LightGrey;
      padding: 12px;
      
      
    }
  }
}
  
  
/*posts index*/
.posts {
  list-style: none;
  margin: 0;
  li {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

#modal-window {
  display: none;
  #modal-fade  {
  display: inline-block;
  }
  
}

.fb-comments{
  margin-left: auto;
  margin-right: auto;
  margin-left: 10%;
 
}

.comments-button-toggle{
  margin-left: 10%;
  display: inline-block;
  cursor:pointer;
  color: blue;
  text-decoration:none;
  &:hover {
    text-decoration:underline;
  }
  &:active {
    color: pink;
  }
}
.fb-login{
  width: 100%;
  margin-top: 10px;
}

.rate-btn{
  margin-top: 10px;
}
.fb-like{
  display: inline-block;
  margin-top: 10px;
}