@import "bootstrap-sprockets";
@import "bootstrap";

$light-grey: #777;
$dark-grey: #222222;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */
html,body {
  background-color: #3333333;
  width:100%;
  height:100%;
}
body {
  padding-top: 60px;
  font: 14px 'Open Sans',sans-serif;
  background-color: black;
}

.margin-15px-fixed{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 100px;
}

section {
  overflow: auto;
  overflow-x: hidden;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
      margin-bottom: 10px;
    }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: whitesmoke;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: whitesmoke;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: whitesmoke;
}
label{
  color: whitesmoke;
}
/* header */
.inline-block{
  display: inline-block;
}
#logo {
  margin-left: 25%;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
      color: #fff;
      text-decoration: none;
    }
}

.nav{
  li{
    display: inline-block;
    a{
      display: inline-block;
    }
  }
}
.main-navbar-header{
  width: 100%;
  .container{
    width: 100%;
  }
}
.content-container{
  @media all and (max-width: 446px){
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.main-navbar{
  display: inline-block;
  li{
    display: inline-block;
    a{
      display: inline-block;
      margin-left: 5px;
    }
  }
  @media all and (max-width: 590px){
    display: none !important;
  }
}
.profile-button{
  background: image-url("profile.png");
  border: 0 !important;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.profile-dropdown{
  background-color: $dark-grey;
  > a{
    color: #9d9d9d;
    padding: 10px 15px;
    display: block;
    
    &:hover{
      text-decoration: none;
      background-color: indigo;
      
    }
  }
}

.hamburger{
  border: 0;
  @media all and (min-width: 590px){
    display: none !important;
  }
  .side-menu{
    list-style: none;
    float: right;
    padding: 5px 10px;
    position: fixed;
    right: 0px;
    top: 45px;
    z-index: 1000;
    background: #222222;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    
    
    @media all and (min-width: 590px){
      display: none !important;
    }
    @media all and (min-width: 490px) and (max-width: 590px){
      width: 40%;
    }
    @media all and (max-width: 490px){
      width: 50%;
    }
    > li a{
      display: block;
      text-align: right;
      text-decoration: none;
      padding: 8px 15px;
      color: white;
      &:hover{
        background-color: indigo;
      }
    }
   
  }
  
}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: whitesmoke;
  nav{
    margin-left: 15%;
  }
  a {
    color: whitesmoke;
    &:hover {
        color: indigo;
    }
  }
  small {
    float: left;
  }
  ul {
      
      list-style: none;
      li {
          display: inline;
          margin-left: 15px;
        }
    }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  .avatar{
    width: 50px;
  }
}

/*posts*/

.post_info {
    padding: 1px 1px;
    border: 1px;
    border-style: groove;
    border-color: LightGrey;
    margin: 5px;
    @include box-sizing;
    background-color: $dark-grey;
    color: white;
    
    .avatar{
      width: 30px;
      height: 30px;
      float: left;
      margin-left: 10px;
      margin-right: 5px;
    }

    h1{
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 2em;
    }
    .user_avatar{
      float: left;
    }
    .post_title{
      color: whitesmoke;
      
      &:hover{
        text-decoration: none;
      }
    }
  }
  
.container{
  width: 100%;
  
}  

.login-container{
  h1, label, span{
    color: white;
  }
  
}
.post-container{

  margin: auto auto;
  border: 1px;
  padding: auto;
  border-style: groove;
  position:  relative;
  display: block;
  padding-bottom: 20px;
  
  .content{
    padding-left: 7px;
    padding-right: 7px;
    display:  block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    
    .post_image{
      width: 100%;
      margin: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      img{
        width: 100%;
      }
    }
    .video {
      iframe{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
     }
    }
    .post-options{
      overflow: hidden;
      white-space: nowrap;
      display: block;
      float: right;
      margin-top: -10px;
      
      .edit-delete-nav{
        display: block;
        padding-top: 0px;
        
      }
    }
  }
}
  
  
/*posts index*/
.posts {
  list-style: none;
  padding-left: 0;
  > li {
    overflow: hidden;
    padding: 10px 0;
  }
}

#modal-window {
  display: none;
  #modal-fade  {
  display: inline-block;
  }
}

.embed-responsive-item{
  padding-bottom: 8px;
}

.fb-comments-container{
  margin-right: auto;
  margin-left: 10px;
  width: 90%;
}




.fb-login{
  width: 100%;
  margin-top: 10px;
}
.rating{
  .button_to{
    margin-top: -5px;
  }
}
.rate-btn{
  padding: 0px 8px;
  background-color: indigo !important;
  border-color: indigo !important;
  @media all and (max-width 428px){
    float: right;
    padding-top: 15px;
    padding-left: 5px;
  }
}
.fb-like{
  display: inline-block !important;
  margin-top: 10px;
}

  
.checkbox-container{
  display: block !important;
  
  .text-checkbox{
    width: 15px;
  }
  #image-text-field{
    
  }
}
.comment-buttons-container{
  list-style: none;
  display: inline-block;
  float: left;
}
.comment{
  margin-top: 20px;
}

.comments-button{
  padding: 0px 6px;
  display: block; 
  float: left; 
  clear: left; 
  background-color: #696969;
  border-radius: 3px;
  color: white;
  font: 11px Arial;
  line-height: 26px;
  font-weight: bold;


  &:hover{
    background-color: #303030;
    text-decoration: none;
    color: white;
  }
}

.comments-button-toggle{
  display: inline-block; 
  cursor: pointer;
  padding: 0px 6px;

  margin-left: 4px;
  background-color: #4267b2;
  border-radius: 3px;
  color: white;
  border-color: #4267b2;
  font-weight: bold;
  white-space: nowrap;
  font: 11px Arial;
  line-height: 26px;

  &:hover {
    background-color: #365899;
  }
  @media all and (max-width: 570px){
    float: left;
    clear: left;
    margin-left: 0px;
    margin-top: 10px;
  }
}