<footer class="footer">
  
  <nav>
    <ul>
      <li><%= link_to "Kontakt", "#" %></li>
      <li><span> | </span></li>
      <li><%= link_to "Polityka prywatności", "#" %></li>
    </ul>
  </nav>
</footer>